<div class="max-w-screen-xl px-4 py-24 mx-auto text-gray-700 sm:px-6 lg:px-8">
  <div class="flex items-center justify-between mb-8">
    <div>
      <h1 class="text-2xl font-bold sm:text-3xl">Samples</h1>
    </div>
    <%= link_to "New sample", new_sample_path %>

  </div>

  <div id="samples">
    <% @samples.each do |sample| %>
      <div class="my-8">
        <%= render sample %>
      </div>
    <% end %>
  </div>

</div>
