<div class="hidden shadow-md" id="clipboard-flash">
  <div class="flex justify-between items-center p-4 text-lime-700 bg-lime-50 rounded-lg border border-lime-600/50" role="alert">
    <%= tag.strong "Link copied to clipboard!", class: "text-sm font-medium" %>
  </div>
</div>
