<div class="absolute self-end hidden top-20 right-2" id="clipboard-flash">
  <div class="flex items-center justify-between p-4 border rounded !bg-lime-50 !text-lime-700 !border-lime-900/10" role="alert">
    <%= tag.strong "Link copied to clipboard!", class: "text-sm font-medium" %>
  </div>
</div>
