<div class="absolute self-end hidden shadow-md top-20 right-2" id="clipboard-flash">
  <div class="flex items-center justify-between p-4 border rounded-lg bg-lime-50 text-lime-700 border-lime-600/50" role="alert">
    <%= tag.strong "Link copied to clipboard!", class: "text-sm font-medium" %>
  </div>
</div>
