<% if obj.errors.full_messages.any? %>
  <div class="absolute self-end top-20 right-2">
    <% obj.errors.full_messages.each do |msg| %>
      <div class="my-2">
        <%= render(FlashComponent.new(msg: msg, type: 'error', cls: "flash-error")) %>
      </div>
    <% end %>
  </div>
<% end %>
