<div class="max-w-screen-xl px-4 py-24 mx-auto text-gray-700 sm:px-6 lg:px-8">

  <div class="flex items-center justify-between mb-8">
    <div>
      <h1 class="my-auto text-2xl font-bold sm:text-3xl ">Recent experiments</h1>
    </div>
    <div class="flex">
      <%= link_to new_experiment_path, class: "flex items-center justify-center p-3 text-gray-500 border border-gray-300 rounded-lg bg-gray-50 hover:bg-gray-100" do %>

        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-3">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span class="w-full text-sm font-medium">Start a new experiment</span>

      <% end %>

      <form class="my-auto ml-4 w-96">
        <label for="index-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300">Search</label>
        <div class="relative">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
          </div>
          <input type="search" id="default-search" class="block w-full p-4 pl-10 text-sm font-medium text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-lime-600 focus:border-lime-600 " placeholder="Search Objects, Files" required>
          <button type="submit" class="absolute px-4 py-2 text-sm font-medium text-white rounded-lg bg-lime-600 right-2.5 bottom-2.5 hover:bg-lime-800 focus:ring-4 focus:outline-none focus:ring-lime-600 ">Search</button>
        </div>
      </form>

    </div>
  </div>

  <div id="experiments">
    <% @experiments.each do |experiment| %>
      <%= render experiment %>
    <% end %>
  </div>
</div>
