<h1>Editing measurment</h1>

<%= render "form", measurment: @measurment %>

<br>

<div>
  <%= link_to "Show this measurment", sample_measurment_path(@measurment) %> |
  <%= link_to "Back to measurments", sample_measurments_path %>
</div>
