<h1>Measurments</h1>

<div id="measurments">
  <% @measurments.each do |measurment| %>
    <%= render measurment %>
    <p>
      <%= link_to "Show this measurment", [@sample, measurment] %>
    </p>
  <% end %>
</div>

<%= link_to "New measurment", [:new, @sample, :measurment] %>
